/*
==============================================
pulse
==============================================
*/

.pulse:after {
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		background: transparentize($mask-black, 0.4);
	}
	50% {
		background: transparentize($mask-black, 0);
	}	
	100% {
		background: transparentize($mask-black, 0.4);
	}			
}