html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100% !important;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url(img/texture-ricepaper.png);
  color: $text-black;
  font-family: $title-font;
  font-size: 100%;
  font-weight: 400;
  line-height: $golden;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased!important;
}

body.ie {
  overflow: auto;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img,
object {
  display: block;
  width: 100%; height: auto;
}

figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}