@mixin line {
  @include transition(all, 0.2s, ease);
  display: inline-block;
  width: $button-size;
  height: $button-size/8;
  background: $white;
}

$button-size: $h4;

.menu-toggle {
  @include respond-to(laptop) {
    display: none;
    visibility: hidden;
  }
  @include transition(all, 0.2s, ease);
  @include translate(0, -50%);
  display: inline-block;
  cursor: pointer;
  opacity: 0.9;
  padding: $small;
  position: absolute;
  top: 50%; right: 0;
  user-select: none;
  z-index: 99999;
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
    background: rgba(0, 0, 0, .1);
  }
  span:first-child {
    @include transition;
    color: $white;
    display: inline-block;
    font-family: $title-font;
    letter-spacing: 0.1em;
    padding-right: 0.5em;
  }
  span:nth-child(2) {
    @include transition;
    display: none;
    color: $white;
    font-family: $title-font;
    letter-spacing: 0.1em;
    padding-right: 0.5em;
  }
  .lines {
    @include line;
    position: relative;
    top: -0.3em;
    &::before, &::after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: $button-size/14 center;
      -webkit-transform-origin: $button-size/14 center;
    }
    &::before {
      top: $button-size/4;
    }
    &::after {
      top: -$button-size/4;
    }
  }
}

.menu-toggle.close {
  span:first-child {
    display: none;
  }
  span:nth-child(2) {
    display: inline-block;
  }
  .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/
    &::before, &::after {
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: $button-size;
    }
    // rotate the lines to form the x shape
    &::before {
      @include rotate(Z, 45);
    }
    &::after {
      @include rotate(Z, -45);
    }
  }
}

/* PRIMARY NAV */
body.pml-open .push-menu-right {
  top: 0;
  .nav-container {
    display: block;
  }
}

.pml-open {
  overflow: hidden;
}

.small-header {
  @include transition;
  @include respond-to(tablet) {
    height: 4em!important;
  }  
  .logo img {
    @include transition;
    @include transform(scale(1.5) translate(1em, -20em));
    visibility: hidden;
  }
  .logo span {
    @include transition;
    opacity: 1!important;
  }
}

.global-header {
  @include transition;
  @include respond-to(tablet) {
    $global-header-height: 5.5em;
    height: $global-header-height;
  }
  background-color: $green;
  background-image: url(img/texture-noisy.png);
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: $global-header-height;
  z-index: 9999;
  &::before {
    background-color: transparentize($green,0.3);
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .logo {
    @include transition;
    display: block;
    padding: 0.3em;
    position: absolute;
    top: 0; left: 0;
    width: auto; height: 100%;
    z-index: 9999;
    img {
      @include transition;
      @include respond-to(laptop) {
        width: 14vw;
      }
      margin-left: $small;
      width: 20vw;
    }
    span {
      @include transition;
      @include translate(0, -50%);
      @include respond-to(tablet) {
        font-size: $h4;
        width: 270px;
      }
      color: $white;
      font-family: $title-font;
      font-size: $base;
      letter-spacing: 0.1em;
      line-height: 1;
      opacity: 0;
      padding: 0.5em;
      position: absolute;
      top: 50%; left: 6px;
      width: 200px;
    }
  }
  section {
    @include respond-to(laptop) {
      background: none;
      overflow: hidden;
      position: absolute;
      top: 0;
    }
    @include transition;
    @include linear-gradient(135deg, $green, $purple);
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    text-align: center;
    top: -130%; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    z-index: 999;
    .nav-container {
      @include respond-to(laptop) {
        @include translate(0, -50%);
        display: block;
        left: auto;
      }
      @include translate(-50%, -50%);
      display: none;
      position: absolute;
      top: 50%; left: 50%;
      width: 100%; height: auto;
      z-index: 99999;
      .nav-main {
        @include respond-to(laptop) {
          display: inline-block;
          margin: auto;
          padding: inherit;
        }
        margin-bottom: $base;
        padding-bottom: $base;
        position: relative;
        &::after {
          @include respond-to(laptop) {
            content: none;
          }
          @include translate(-50%, 0);
          background-color: $text-black;
          content: "";
          position: absolute;
          left: 50%; bottom: 0;
          width: 50%; height: 2px;
        }
        ul {
          li {
            @include respond-to(laptop) {
              display: inline-block;
              width: auto;
            }
            text-align: center;
            width: 100%;
            a {
              @include transition;
              @include respond-to(tablet) {
                font-size: $h2;
              }
              @include respond-to(laptop) {
                color: $white;
                font-size: $h4;
                line-height: 1.3;
                padding: $h4;
              }
              color: $text-black;
              display: block;
              font-family: $title-font;
              font-size: $h3;
              letter-spacing: 0.05em;
              line-height: $golden;
              text-shadow: 0 1px 2px rgba(16,16,16,0.3);
              text-transform: uppercase;
              &:hover {
                background-color: $mask-black-rgba;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

.social {
  @include respond-to(laptop) {
    display: none;
  }
  li {
    .twitter, .facebook {
      display: inline-block;
      margin: 0 auto;
      width: $h2; height: $h2;
    }
  }
}

/* PAGE NAV */
a[rel="prev"],
a[rel="next"] {
  @include respond-to(tablet) {
    @include transition;
    @include translate(0, -50%);
    background-color: $green-dk;
    background-image: url(img/nav-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    color: $white;
    display: block;
    font-family: $title-font;
    font-size: $base;
    letter-spacing: 0.1em;
    opacity: 0.5;
    position: fixed;
    text-indent: -9999px;
    top: 50%; left: 0;
    width: 50px; height: 50px;
    z-index: 1;
    &:hover {
      @include transition;
      opacity: 1;
    }
  }
  display: none;
}

a[rel="prev"] {
  @include rotate(Y,180);
}

a[rel="next"] {
  left: auto; right: 0;
}