@mixin line {
  @include transition(all, 0.2s, ease);
  display: inline-block;
  width: $button-size;
  height: $button-size/8;
  background: $white;
}

$button-size: $h4;

.menu-toggle {
  @include transition(all, 0.2s, ease);
  @include respond-to(tablet) {
    top: $h4; right: $h4;
  }
  background-color: $text-black;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  padding: $small;
  position: fixed;
  top: 0; right: 0;
  user-select: none;
  z-index: 99999;
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
    background: rgba(0, 0, 0, .1);
  }
  span:first-child {
    @include transition;
    color: $white;
    display: inline-block;
    font-family: $title-font;
    letter-spacing: 0.1em;
    padding-right: 0.5em;
  }
  span:nth-child(2) {
    @include transition;
    display: none;
    color: $white;
    font-family: $title-font;
    letter-spacing: 0.1em;
    padding-right: 0.5em;
  }
  .lines {
    @include line;
    position: relative;
    top: -0.3em;
    &::before, &::after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: $button-size/14 center;
      -webkit-transform-origin: $button-size/14 center;
    }
    &::before {
      top: $button-size/4;
    }
    &::after {
      top: -$button-size/4;
    }
  }
}

.menu-toggle.close {
  span:first-child {
    display: none;
  }
  span:nth-child(2) {
    display: inline-block;
  }
  .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/
    &::before, &::after {
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: $button-size;
    }
    // rotate the lines to form the x shape
    &::before {
      @include rotate(Z, 45);
    }
    &::after {
      @include rotate(Z, -45);
    }
  }
}

/* PRIMARY NAV */
body.pml-open .push-menu-right {
  top: 0;
  .nav-container {
    display: block;
  }
}

.pml-open {
  overflow: hidden;
}

.small-header {
  @include transition;
  .logo {
    @include transition;
    @include transform(scale(0.6) translate(-5em, -6em));
    opacity: 0.5;
  }
}

.global-header {
  .logo {
    @include respond-to(tablet) {
      top: $h4; left: $h4;
      width: 15vw;
    }
    @include transition;
    display: block;
    padding: 0.3em;
    position: fixed!important;
    top: $base; left: $base;
    width: 27vw; height: auto;
    z-index: 9999;
    &::after {
      content: none;
    }
  }
  section {
    @include transition;
    @include linear-gradient(135deg, $green, #6d328e);
    overflow: auto;
    position: fixed;
    text-align: center;
    top: -130%; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    z-index: 999;
    .nav-container {
      @include translate(-50%, -50%);
      display: none;
      position: absolute;
      top: 50%; left: 50%;
      width: 100%; height: auto;
      z-index: 99999;
      .nav-main {
        margin-bottom: $base;
        padding-bottom: $base;
        position: relative;
        &::after {
          @include translate(-50%, 0);
          background-color: $text-black;
          content: "";
          position: absolute;
          left: 50%; bottom: 0;
          width: 50%; height: 2px;
        }
        ul {
          li {
            text-align: center;
            width: 100%;
            a {
              @include transition;
              @include respond-to(laptop) {
                font-size: $h1;
                line-height: 1.3;
              }
              color: $text-black;
              display: block;
              font-family: $title-font;
              font-size: $h3;
              letter-spacing: 0.05em;
              line-height: $golden;
              text-transform: uppercase;
              &:hover {
                color: $white;
              }
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

.social {
  li {
    display: inline-block;
  }
}

.twitter, .facebook {
  display: inline-block;
  margin: 0 auto;
  width: $h2; height: $h2;
  img {
  
  }
}

/* PAGE NAV */
a[rel="prev"],
a[rel="next"] {
  @include respond-to(tablet) {
    @include transition(all, .2s, ease-in-out, 0.1s);
    @include translate(0, -50%);
    background-color: $green-dk;
    color: $white;
    font-family: $display-font;
    font-size: $base;
    font-weight: 700;
    padding: $base;
    position: fixed;
    top: 50%; left: 0;
    text-transform: uppercase;
    width: 80px;
    z-index: 1;
    &:hover {
      color: $green-lt;
    }
  }
}

a[rel="next"] {
  left: auto; right: 0;
}