@mixin line {
  @include transition(all, 0.2s, ease);
  display: inline-block;
  width: $button-size;
  height: $button-size/8;
  background: $white;
}

$button-size: 2em;

.lines-button {
  @include transition(all, 0.2s, ease);
  @include respond-to(tablet) {
    top: $h4; right: $h3;
  }
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: $base*$golden; right: $base*$golden;
  user-select: none;
  border-radius: $button-size/7;
  z-index: 99999;
  &:hover {
    opacity: 1;
  }
  &:hover .lines::before {
    top: $button-size/5;
  }
  &:hover .lines::after {
    top: -$button-size/5;
  }
  &:active {
    transition: 0;
    background: rgba(0, 0, 0, .1);
  }
  .lines {
    @include line;
    position: relative;
    &::before, &::after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: $button-size/14 center;
      -webkit-transform-origin: $button-size/14 center;
    }
    &::before {
      top: $button-size/4;
    }
    &::after {
      top: -$button-size/4;
    }
  }
}

.lines-button.close .lines {
  /*hide the middle line*/

  background: transparent;
  /*overlay the lines by setting both their top values to 0*/

  &::before, &::after {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: $button-size;
  }
  // rotate the lines to form the x shape
  &::before {
    @include rotate(Z, 45);
  }
  &::after {
    @include rotate(Z, -45);
  }
}
/* PRIMARY NAV */

body.pml-open .push-menu-right {
  top: 0;
}

.global-header {
  @include transition;
  background-color: $red;
  position: fixed;
  text-align: center;
  top: -100%; left: 0; bottom: 0; right: 0;
  width: 100%; height: 100%;
  z-index: 99;
  .nav-container {
    @include translate(-50%, -50%);
    position: absolute;
    top: 50%; left: 50%;
    width: 100%; height: auto;
    z-index: 99;
  }
}

.logo {
  @include transition;
  @include respond-to(tablet) {
    display: inline-block;
    position: fixed !important;
    left: $h2;
  }
  @include respond-to(laptop) {
    width: 160px; height: 160px;
  }
  background-image: url(img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  line-height: 110px;
  position: fixed!important;
  top: 20px; left: $base;
  text-indent: -9999px;
  width: 100px; height: 100px;
  z-index: 999999;
  &::after {
    content: none;
  }
}

.nav-main {
  margin-bottom: $base;
  padding-bottom: $base;
  position: relative;
  &::after {
    @include translate(-50%, 0);
    background-color: $text-black;
    content: "";
    position: absolute;
    left: 50%; bottom: 0;
    width: 50%; height: 2px;
  }
  ul {
    li {
      text-align: center;
      width: 100%;
      a {
        @include transition;
        @include respond-to(laptop) {
          font-size: $h1;
          line-height: 1.4;
        }
        color: $text-black;
        display: block;
        font-family: $title-font;
        font-size: $h3;
        line-height: $golden;
        text-transform: uppercase;
        &:hover {
          color: $white;
        }
        &::after {
          content: none;
        }
      }
    }
  }
}

.social {
  position: relative;
  li {
    a {
      color: $text-black;
      font-family: $title-font;
      font-size: $base;
      &:hover {
        color: $white;
      }
    }
  }
}

/* PAGE NAV */
a[rel="prev"],
a[rel="next"] {
  @include transition(all, .2s, ease-in-out, 0.1s);
  font-family: $title-font;
  font-size: $base;
  font-weight: 700;
  padding: 10px;
  position: fixed;
  bottom: 300px;
  text-transform: uppercase;
  width: 80px;
  z-index: 1;
  &:hover {
    color: $white;
  }
}
