// Required
.home-page--slider {
  @include respond-to(tablet) {
    max-height: 700px;
  }
  @include respond-to(laptop) {
    max-height: 100vh;
  }
  max-height: 600px;
  padding: 0;
  position: relative;
  .slides-container {
    display: none;
    li { background-position: center top; }
  }
  .scrollable {
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
}

.slides-pagination {
  @include translate(-50%, 0);
  position: absolute;
  z-index: 3;
  left: 50%; bottom: $h3;
  text-align: center;
  width: 100%;
  a {
    border: 2px solid transparentize($white,0.6);
    border-radius: 50px;
    display: inline-block;
    width: 0.6em; height: 0.6em;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');
    margin: 3px;
    overflow: hidden;
    text-indent: -100%;
    &.current {
      background: $white;
    }
  }
}

.slides-navigation {
  font-family: $title-font;
  margin: 0 auto;
  position: absolute;
  top: 46%;
  width: 100%;
  z-index: 3;
  a {
    color: $white;
    font-size: $h3;
    font-weight: 100;
    padding: 0 0.2em;
    position: absolute;
    display: block;
    &::after {
      content: none;
    }
    &:hover {
      background-color: $red;
    }
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}
