// =HIERARCHY //
$h1: 7.594em;
$h2: 3.375em;
$h3: 2.25em;
$h4: 1.5em;
$base: 1em;
$small: 0.8em;

// =HEADINGS //
%headings {
  @include respond-to(laptop) {
    line-height: 1;
  }
  display: block;
  font-family: $title-font;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 { @extend %headings; }

h1 { font-size: $h1; }

h2 { font-size: $h2; }

h3 { font-size: $h3; }

h4 { font-size: $h4; }

cite {
  @extend %headings;
}

// =COMMON  //
p {
  font-family: $display-font;
  font-size: $base;
  font-weight: normal;
  line-height: $golden;
  margin-bottom: $base;
  em { font-style: italic; }
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  font-family: $display-font;
  font-size: $base;
  line-height: $golden;
}

section p { margin-bottom: 2rem; }

a {
  color: $green-dk;
  font-family: $display-font;
  text-decoration: none;
  &:hover {
    @include transition(color, 0.3s, ease);
  }
}

blockquote {
  p {
    font-size: $h4 !important;
    font-weight: bold;
    line-height: 1.2;
  }
}

strong { font-weight: bold; }