/* COLORS */
$black: hsla(345, 6%, 13%, 1.0);
$text-black: rgba(0,0,0,0.8);
$mask-black: hsla(345, 6%, 13%, 0.4);
$white: rgba(255,255,255,1.0);
$magenta: hsla(328, 67%, 37%, 1.0);
$red: hsla(358, 70%, 52%, 1.0);
$blue: hsla(168, 60%, 54%, 1.0);
$yellow: hsla(66, 60%, 59%, 1.0);


/* FONTS */
$title-font: "prohibition", sans-serif;
$display-font: "omnes-pro", sans-serif;
$flourish-font: "fenway-park-jf", serif;

/* STACK */
$base-padding: 3rem;
$golden: 1.61803398875;
$header-height: 110px;