/* COLORS */
$black: hsla(345, 6%, 13%, 1.0);
$grey: hsl(17, 4%, 70%);
$text-black: rgba(0,0,0,0.9);
$mask-black: hsla(345, 6%, 13%, 0.5);
$white: rgba(255,255,255,1.0);
$red: hsla(358, 70%, 52%, 1.0);
$green: hsla(165, 70%, 40%, 1.0);

/* FONTS */
$title-font: "prohibition", sans-serif;
$display-font: "adelle", sans-serif;
$flourish-font: "fenway-park-jf", serif;

/* STACK */
$base-padding: 3rem;
$golden: 1.61803398875;
$header-height: 110px;