/* COLORS */
$black: hsla(345, 6%, 13%, 1.0);
$text-black: rgba(0,0,0,0.8);
$mask-black: hsla(345, 6%, 13%, 0.6);
$white: rgba(255,255,255,1.0);
$gray: #E0E0E0;
$light-blue: #0062b3;
$dark-blue: #004a87;
$magenta: hsla(328, 67%, 37%, 1.0);
$red: hsla(358, 80%, 52%, 1.0);
$orange: hsl(14, 69%, 49%);
$green: hsla(156, 50%, 43%, 1.0);
$gold: #765327;

/* FONTS */
$title-font: "prohibition", sans-serif;
$display-font: "omnes-pro", sans-serif;

/* STACK */
$base-padding: 3rem;
$golden: 1.61803398875;
$header-height: 110px;
